@import 'src/components/GlobalStyles/GlobalStyles.scss';
.Wish-list {
    padding-top: var(--default-layout-header-height);
}
.wish-List_section {
    padding: 24px 108px;
    .wish-route {
        align-items: center;
        li a {
            font-size: 18px;
        }
        p {
            font-size: 24px;
            font-weight: 700;
            padding: 0 12px;
        }
        span {
            font-size: 18px;
            color: #8f8f8f;
        }
    }
}
.cart-product {
    padding: 48px 108px;
    margin: 48px 0;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f0f0f0;
}
